@using WebTest.ViewModels
@model AddColumnModel
<div class="container">
    <h1>Добавление товара</h1>
    <hr class="my-4">
    <form asp-action="AddColumnBd" asp-controller="AddColumn" asp-route-id="@Model.pricelists.IdOnlystring" method="post">
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="name">Название</label>
                    <input type="text" class="form-control" id="NameProduct" name="element.NameProduct" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="article">Артикул</label>
                    <input type="text" class="form-control" id="IndexProduct" name="element.IndexProduct" required>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        @{
                            int a = 0;
                        }
                        @foreach (var column in Model.ColumnElementPars)
                        {
                            <tr>
                                <td>
                                    <input type="text" class="form-control"
                                      name="ColumnElementPar[@a].NameColumn" value="@column.NameColumn" required readonly>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="columnElementPar[@a].ContentColumn" required>
                                </td>
                            </tr>
                            a++;
                        }
                    </tbody>
                </table>
            </div>
            <hr class="my-4">
            <div class="float-right">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a asp-action="SelectList" asp-controller="SelectList" asp-route-id="@Model.pricelists.IdOnlystring"
                   class="btn btn-secondary">Назад</a>
            </div>
        </div>
    </form>
</div>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
